body {
    min-width: 1280px;
    font-family: "微软雅黑", sans-serif;
}

/*-----   nav bar                    -----*/
#navBar {
    position: relative;
    width: 100%;
    height: 57px;
}

#logo {
    position: absolute;
    left: 59px;
    top: 13px;
    width: 104px;
    height: 31px;
    background-image: url('img/logo.png');
}

#navList {
    float: right;
    height: 57px;
    margin-right: 50px;
}

#navList .navTag {
    padding: 14px 20px;
    height: 100%;
    font: normal 14px normal;
    float: left;
    color: #888;
    cursor: pointer;
}

#navList .navTag.login,
#navList .navTag.active {
    color: #E64A48;
}

#navList .navTag.login img {
    vertical-align: text-bottom;
    margin-right: 8px;
}

#navList .navTag.active {
    border-bottom: 5px solid #E64A48;
}

/*-----   banner A                   -----*/
.banner {
    position: relative;
    width: 100%;
    overflow: auto;
}

.bannerA {
    background-image: url('img/bannerA.jpg');
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
            src='img/bannerA.jpg',
            sizingMethod='image');
    background-size: cover;
    height: 690px;
}

.bannerA .bannerContent {
    position: absolute;
    left: 9%;
    top: 225px;
    width: 600px;
}

.bannerA .bannerContent .textA {
    font: normal 400 60px normal;
    color: #FFF;
    line-height: 60px;
}

.bannerA .bannerContent .textB {
    margin-top: 18px;
    font: normal 300 21px normal;
    line-height: 32px;
    color: #FFF;
    margin-left: 8px;
}

.bannerA .bannerContent .entranceBtn {
    height: 63px;
    width: 330px;
    border: none;
    background-color: #E8504F;
    margin-top: 63px;
    font: normal 300 30px normal;
    line-height: 32px;
    color: #FFF;
    margin-left: 10px;
    letter-spacing: 3px;
    vertical-align: middle;
    padding-bottom: 4px;
}

/*-----   banner B                   -----*/
.bannerB {
    height: 250px;
}

.bannerB .bannerTag {
    float: left;
    width: 25%;
}

.bannerB .bannerTag .bannerTagImg {
    display: block;
    margin: 45px auto 0 auto;
}

.bannerB .bannerTag .bannerTagContent {
    margin-top: 45px;
    border-right: 2px solid #ABABAB;
}

.bannerB .bannerTag:last-child .bannerTagContent {
    border-right: none;
}

.bannerB .bannerTag .bannerTagContent p {
    display: block;
    height: 52px;
    margin: 0 auto;
    width: 160px;
    font: normal 14px normal;
    color: #888;
    text-align: center;
    border: none;
}

/*-----   banner C                   -----*/
.bannerC {
    background-color: #EDEDED;
    height: 360px;
    padding-top: 90px;;
}

.bannerC .bannerImg {
    text-align: center;
}

.bannerC .bannerContent {
    text-align: center;
    font: normal 54px '黑体';
    color: #A1A1A1;
    margin-top: 40px;
}

/*-----   banner D                   -----*/
.banner.bannerD{
    overflow: visible;
}

.bannerD {
    background-image: url('img/bannerD.png');
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
            src='img/bannerA.jpg',
            sizingMethod='img/bannerD.png');
    background-size: cover;
    height: 340px;
    padding-top: 50px;
}

.bannerD .bannerTitle {
    font: normal 300 21px normal;
    color: #FFF;
}

.bannerD .bannerTitle:after {
    display: block;
    content: "";
    width: 30px;
    height: 3px;
    background-color: #FFF;
    margin: 7px auto 0 auto;
}

.bannerD .bannerText {
    font: normal 300 12px normal;
    color: #FFF;
    margin-top: 20px;
}

/*-----   form format A              -----*/

.bannerDForm {
    margin-top: 50px;
}

.bannerDForm .formComponent,
.bannerDForm button {
    height: 37px;
    width: 236px;
    display: inline-block;
    margin: 0 10px;
    outline: none;
    border: none;
}

.bannerDForm .formComponent input {
    height: 100%;
    width: 100%;
    color: #AAA;
    padding-left: 10px;
    border: none;
    background: #FFF url("img/bannerDSelect.png") no-repeat 200px 8px;
    line-height: normal;
    line-height: 2.4em \9;
}

.bannerDForm .selectList {
    display: none;
    list-style: none;
    position: absolute;
    z-index: 50;
}

.bannerDForm ul.selectList {
    background-color: #E4E4E4;
    width: 236px;
}

.bannerDForm input:focus {
    height: 37px;
}

.bannerDForm input:focus + ul.selectList {
    display: block;
}

.bannerDForm input:focus,
.bannerDForm input:focus + ul.selectList {
    outline: none;
    border: 2px solid #C78172;
}

.bannerDForm ul.selectList li {
    height: 26px;
    font: normal 12px normal;
    text-align: left;
    padding: 5px 30px;
    color: #323333;
}

.bannerDForm input:focus + ul.selectList li:hover {
    color: #FFF;
    background-color: #BF4E48;
}

.bannerDForm input:focus + ul.selectList li:hover:before {
    content: "";
    height: 8px;
    width: 12px;
    background-image: url("img/bannerDFormCheck.png");
    float: left;
    margin-left: -22px;
    margin-top: 4px;
}

.bannerDForm .formBtn {
    background-color: #BF4E48;
    font: normal 14px normal;
    line-height: 12px;
    color: #FFF;
    letter-spacing: 25px;
    padding-left: 25px;
}

/*-----   banner E                   -----*/
.bannerE {
    background-color: #F7F7F7;
    height: 605px;
    padding-top: 100px;
    text-align: center;
}

.bannerE .bannerContent {
    display: inline-block;
    margin: 0 auto;
}

.bannerE .bannerItem {
    width: auto;
    float: left;
    margin: 0 18px;
}

.bannerE .bannerItem .bannerImg {
    padding: 12px 8px;
    background-color: #FFF;
    border: 1px solid #D3D3D3;
}

.bannerE .bannerItemText .textA {
    font-size: 14px;
    line-height: 30px;
    color: #373737;
}

.bannerE .bannerItemText .textB {
    font-size: 12px;
    color: #888;
    padding-bottom: 5px;
}

.bannerE .bannerItem.active .bannerItemText .textA {
    font-size: 22px;
    text-justify: distribute-all-lines; /*ie6-8*/
    text-align-last: justify; /* ie9*/
    width: 200px;
    margin: auto;
}

/*-----   banner F                   -----*/
.bannerF {
    height: 566px;
}

.bannerF .bannerLeft {
    position: relative;
    width: 66.6%;
    height: 100%;
    float: left;
    background-image: url('img/bannerF.png');
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
            src='img/bannerA.jpg',
            sizingMethod='img/bannerF.png');
    background-size: cover;
    color: #FFF;
}

.bannerF .bannerLeft .textA {
    margin-top: 130px;
    display: inline-block;
    font-size: 50px;
    line-height: 45px;
}

.bannerF .bannerLeft .textB {
    display: inline-block;
    font-size: 158px;
    line-height: 140px;
}

.bannerF .bannerLeft .textC {
    display: inline-block;
    text-align: left;
    width: auto;
    font-size: 22px;
    line-height: 45px;
    margin-top: 20px;
}

.bannerF .bannerLeft .leftTriangle {
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 24px solid #FFF;
    border-bottom: 15px solid transparent;
    margin-top: -12px;
}

.bannerF .bannerRight {
    margin-left: 66.6%;
    margin-right: 0;
    height: 100%;
    padding-top: 160px;
}

.bannerF .bannerRight .textA {
    font-size: 20px;
    font-weight: bold;
    font-family: "微软雅黑 Light", sans-serif;
}

.bannerF .bannerRight .textB {
    text-align: left;
    margin: 20px auto 0 auto;
    font-size: 12px;
    color: #AAA;
    line-height: 30px;
    width: 290px;
}

.bannerF .bannerRight .textA span {
    color: #EA5551;
}

.bannerF .bannerRight .moreInfoBtn {
    border: 1px solid #E25C60;
    color: #E25C60;
    background-color: #FFF;
    margin-top: 40px;
    padding: 9px 25px;
    cursor: pointer;
}

.bannerF .bannerRight .slideShowBar {
    margin-top: 20px;
}

.bannerF .bannerRight .slideShowPoint {
    cursor: pointer;
    display: inline-block;
    height: 11px;
    width: 11px;
    border: 1px solid #929292;
    border-radius: 5px;
    margin: 0 5px;
}

.bannerF .bannerRight .slideShowPoint.active {
    background-color: #929292;
}

/*-----   banner G                   -----*/
.bannerG {
    height: 520px;
}

.bannerG .bannerLeft,
.bannerG .bannerCenter {
    width: 33.3%;
    height: 100%;
    float: left;
}

.bannerG .bannerLeft {
    background-color: #E8504F;
    color: #FFF;
}

.bannerG .textA {
    padding-top: 168px;
    font-size: 19px;
    line-height: 30px;
    font-weight: 600;
    font-family: "微软雅黑 Light", sans-serif;
    letter-spacing: 2px;
}

.bannerG .textA:after {
    display: block;
    content: '';
    border-bottom: 2px solid #A8A8A8;
    margin: 20px auto;
    width: 30px;
}

.bannerG .bannerLeft .textA:after {
    border-bottom-color: #FFF;
}

.bannerG .viewMoreBtn {
    margin-top: 5px;
    padding: 8px 40px;
    background: none;
    border: 1px solid #E8504F;
    color: #E8504F;
    font-weight: 600;
    font-size: 20px;
    font-family: "微软雅黑 Light", sans-serif;
    letter-spacing: 2px;
}

.bannerG .bannerLeft .viewMoreBtn {
    color: #FFF;
    border-color: #FFF;
}

.bannerG .bannerRight {
    position: relative;
    margin-left: 66.6%;
    margin-right: 0;
    height: 100%;
    background-image: url('img/bannerG.png');
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
            src='img/bannerA.jpg',
            sizingMethod='img/bannerG.png');
    background-size: cover;
}

.bannerG .bannerRight .rightTriangle {
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 24px solid #FFF;
    border-bottom: 15px solid transparent;
    margin-top: -12px;
}

/*-----   banner H                   -----*/
.bannerH{
    height: 750px;
}
.bannerH .bannerContent {
    width: 1000px;
    margin: 0 auto;
}

.bannerH .bannerTitle {
    padding-top: 118px;
    padding-bottom: 105px;
    text-align: center;
}

.bannerH .bannerTitle .textA {
    font-size: 21px;
    font-family: "黑体", sans-serif;
}

.bannerH .bannerTitle .textA:after {
    display: block;
    content: '';
    border-bottom: 2px solid #E44F4B;
    margin: 7px auto;
    width: 30px;
}

.bannerH .bannerTitle .textB {
    font-size: 12px;
    color: #AAA;
    margin-top: 12px;
    line-height: 18px;
}

.bannerH .bannerLeft {
    width: 290px;
    float: left;
}

.bannerH .bannerLeft .textA {
    font-size: 14px;
    font-family: "黑体", sans-serif;
}

.bannerH .bannerLeft .textB{

    margin-top: 25px;
}
.bannerH .bannerLeft .textB,
.bannerH .bannerLeft .viewMore {
    line-height: 20px;
    font-size: 12px;
    font-size-adjust: 0.7;
    /*font-family: "宋体", sans-serif;*/
}

.bannerH .bannerLeft .viewMore {
    text-align: right;
    margin-bottom: 30px;
}
.bannerH .bannerLeft .viewMore:before {
    display: inline-block;
    content: "";
    width: 10px;
    height: 6px;
    background-image: url("img/bannerGExpand.png");
    margin-right: 5px;
}

.bannerH .bannerRight {
    width: 640px;
    float: right;
}

.bannerH .bannerHForm input,
.bannerH .bannerHForm textarea,
.bannerH .bannerHForm button{
    border: none;
    background-color: #EDEDEF;
    padding:0 16px;
    font-size: 12px;
    color:#231815;
    margin-bottom: 14px;
}


.bannerH .bannerHForm input{
    width: 310px;
    height: 40px;
}

.bannerH .bannerHForm input:nth-child(even){
    float: left;
}
.bannerH .bannerHForm input:nth-child(odd){
    float: right;
}


.bannerH .bannerHForm textarea{
    width: 100%;
    padding-top:10px;
    height: 120px;
}

.bannerH .bannerHForm button{
    font-size: 14px;
    font-family: "黑体", sans-serif;
    width: 100%;
    line-height: 40px;
    margin-top:-5px;
    cursor: pointer;
}

/*-----   banner I                   -----*/
.bannerI {
    background-color: #33363F;
    color:#FFF;
    height: 360px;
}

.bannerI .textA{
    font-size: 21px;
    font-family: "黑体", sans-serif;
    margin-top:90px;
}
.bannerI .textB{
    font-size: 12px;
    line-height: 20px;
    /*font-size-adjust: 0.5;*/
    margin-top:5px;
    margin-bottom: 25px;
    font-family: "宋体", sans-serif;
}


.bannerI .emailBar{
    height: 40px;
    width: 510px;
    margin:0 auto;
}

.bannerI .emailBar input{
    display: block;
    height: 100%;
    width: 430px;
    border:none;
    float: left;
    padding-left: 10px;
    font-size:14px;
}

.bannerI .emailBar button{
    display: block;
    height: 100%;
    width: 80px;
    border:none;
    background-color: #717179;
    color:#FFF;
    font-size: 15px;
    letter-spacing: 10px;
    padding-left: 10px;
    cursor: pointer;
}

.banner .icoBar{
    margin-top:35px;
}

.banner .icoBar .ico{
    margin:0 10px;
    display: inline-block;
    cursor: pointer;
}
.banner .icoBar .icoQQ{
    background-image: url("img/bannerIQQ.png");
    width:24px;
    height: 25px;
}
.banner .icoBar .icoWeibo{
    background-image: url("img/bannerIWeibo.png");
    width:29px;
    height: 25px;
}
.banner .icoBar .icoTwitter{
    background-image: url("img/bannerITwitter.png");
    width:29px;
    height: 25px;
}
.banner .icoBar .icoInternet{
    background-image: url("img/bannerIInternet.png");
    width:24px;
    height: 25px;
}



/*-----   banner bottom              -----*/
.bannerBottom{
    height: 55px;
    background-color: #30303A;
    color: #FFF;
}

.bannerBottom .bannerLeft,
.bannerBottom .bannerRight{
    font-size: 12px;
    font-family: "宋体", sans-serif;
    font-size-adjust: 0.5;
    margin-top:27px;
}

.bannerBottom .bannerLeft{
    float: left;
    padding-left: 100px;
}

.bannerBottom .bannerRight{
    float: right;
    padding-right: 40px;
}
