body {
    overflow: auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
}

/*-----    clear           -----*/
.clearFix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearBoth {
    clear: both;
}

/*-----    display         -----*/
.hide {
    display: none;
}

.block {
    display: block;
}

.inlineBlock {
    display: inline-block;
}

/*-----    margin          -----*/
.margin-tb-5px {
    margin-top: 5px;
    margin-bottom: 5px;
}

.margin-tb-10px {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-tb-15px {
    margin-top: 15px;
    margin-bottom: 15px;
}

.margin-tb-20px {
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin-tb-30px {
    margin-top: 30px;
    margin-bottom: 30px;
}

.margin-lr-5px {
    margin-left: 5px;
    margin-right: 5px;
}

.margin-lr-10px {
    margin-left: 10px;
    margin-right: 10px;
}

.margin-lr-15px {
    margin-left: 15px;
    margin-right: 15px;
}

.margin-lr-20px {
    margin-left: 20px;
    margin-right: 20px;
}

.margin-lr-30px {
    margin-left: 30px;
    margin-right: 30px;
}

/*-----    padding          -----*/
.padding-tb-5px {
    padding-top: 5px;
    padding-bottom: 5px;
}

.padding-tb-10px {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-tb-15px {
    padding-top: 15px;
    padding-bottom: 15px;
}

.padding-tb-20px {
    padding-top: 20px;
    padding-bottom: 20px;
}

.padding-tb-30px {
    padding-top: 30px;
    padding-bottom: 30px;
}

.padding-lr-5px {
    padding-left: 5px;
    padding-right: 5px;
}

.padding-lr-10px {
    padding-left: 10px;
    padding-right: 10px;
}

.padding-lr-15px {
    padding-left: 15px;
    padding-right: 15px;
}

.padding-lr-20px {
    padding-left: 20px;
    padding-right: 20px;
}

.padding-lr-30px {
    padding-left: 30px;
    padding-right: 30px;
}

/*-----    height          -----*/
.height-5px {
    height: 5px;
}

.height-10px {
    height: 10px;
}

.height-15px {
    height: 15px;
}

.height-20px {
    height: 20px;
}

.height-30px {
    height: 30px;
}

.height-50px {
    height: 50px;
}

.height-60px {
    height: 60px;
}

.height-70px {
    height: 70px;
}

.height-80px {
    height: 80px;
}

.height-90px {
    height: 90px;
}

.height-100px {
    height: 100px;
}

/*-----    width           -----*/
.width-5 {
    width: 5%;
}

.width-10 {
    width: 10%;
}

.width-15 {
    width: 15%;
}

.width-20 {
    width: 20%;
}

.width-30 {
    width: 30%;
}

.width-50 {
    width: 50%;
}

.width-60 {
    width: 60%;
}

.width-70 {
    width: 70%;
}

.width-80 {
    width: 80%;
}

.width-90 {
    width: 90%;
}

.width-100 {
    width: 100%;
}

/*-----    font size       -----*/
.fontSize-1_2em {
    font-size: 1.2em;
}

.fontSize-1_5em {
    font-size: 1.5em;
}

.fontSize-2em {
    font-size: 2em;
}

.fontSize-2_5em {
    font-size: 2.5em;
}

.fontSize-3em {
    font-size: 3em;
}

/*-----  text align        -----*/
.textCenter {
    text-align: center;
}

.textLeft {
    text-align: left;
}

.textRight {
    text-align: right;
}

/*-----  background color  -----*/

.bg111 {
    background-color: #111;
}

.bg222 {
    background-color: #222;
}

.bg333 {
    background-color: #333;
}

.bg444 {
    background-color: #444;
}

.bg555 {
    background-color: #555;
}

.bg666 {
    background-color: #666;
}

.bg777 {
    background-color: #777;
}

.bg888 {
    background-color: #888;
}

.bg999 {
    background-color: #999;
}

.bgAAA {
    background-color: #AAA;
}

.bgBBB {
    background-color: #BBB;
}

.bgCCC {
    background-color: #CCC;
}

.bgDDD {
    background-color: #DDD;
}

.bgEEE {
    background-color: #EEE;
}

.bgFFF {
    background-color: #FFF;
}

.bgZhihuBlue {
    background-color: #1892F5;
}


/*-----  form              -----*/
form .inputNote {
    color: #CCC;
    font-size: 0.8em;
    margin: 2px;
}

